

body {
    display: flex;
    flex-direction: column;
    background-color:lightblue;
    line-height: 1.2;
  }
  
  header {
    
    display: flex;
    position: fixed;
    top: 0;
    max-height: 100px;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2% 0% 0% 0%;
    background-color: #13293d;
    color: #fff;
    z-index: 1000;
  }

  header img {
    width: 10%;
  }
  
  h1 {
    font-size: 300%;
    font-weight: bolder;
  }
  
  h2 {
    margin: 2% 0%;
    font-size: 250%;
  }
  
  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 300px;
  }

  main {
    
  }

  section {
    margin: 200px;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
  }
  
  .card {
    display: grid;
    grid-template-rows: max-content 200px 1fr;
  }
  
  .card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .card img:hover {
    transform: scale(1.5)
  }


@media screen and (max-width: 992px) {
    header {
        flex-direction: column;
        align-items: left;
    }

  }

@media screen and (max-width:768px) {

}
