

body {
    display: flex;
    flex-direction: column;
    background-color:lightblue;
    line-height: 1.2;
  }
  
  header {
    
    display: flex;
    position: fixed;
    top: 0;
    max-height: 100px;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2% 0% 0% 0%;
    background-color: #13293d;
    color: #fff;
    z-index: 1000;
  }

  header img {
    height: 100px;
  }

  #headername {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: max-content;
  }
  
  h1 {
    font-size: 300%;
    font-weight: bolder;
  }
  
  h2 {
    margin: 2% 0%;
    font-size: 250%;
  }
  
  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 300px;
  }

  main {
    
  }

  section {
    margin: 200px;
    scroll-margin-top: 150px;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
  }
  
  .card {
    display: grid;
    grid-template-rows: max-content 200px 1fr;
  }
  
  .card img {
    object-fit: cover;
    height: 100%;
    transition: all cubic-bezier(0.4, 0, 0.36, 0.96) 200ms;
  }

  .card img:hover {
    transform: scale(1.5);
  }

  form {
    max-width: 350px;
  }
  
  form h3 {
    font-size: 150%;
  }
  
  form p {
    margin: 3% 0;
  }
  
  label {
    display: block;
  }
  
  button {
    padding: 1% 2%;
    color: #fff;
    background-color: #13293d;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
   select {
    appearance: none;
  }
  
  .text-input {
    width: 100%;
    max-width: 100%;
  }
  
  .text-input, select {
    padding: 1%;
    outline: none;
    border: 1.2px solid #aebfc6;
  }
  
  .text-input:hover, .checkbox:hover, 
  select:hover, button:hover {
    box-shadow: 0 0 5px #999;
  }
  
  .text-input:focus {
    border-right-width: 5px;
  }
  
  .flex-row {
    display: flex;
    align-items: center;
  }
  
  .flex-row select {
    flex: 1 0 0;
    margin-left: 2%;
  }
  
  .flex-row input {
    margin-right: 2%;
  }
  
  .checkbox:checked + label {
    color: #999999;
    font-style: italic;
  }
  
  .checkbox:checked + label::after {
    margin-left: 10px;
    font-size: 90%;
    content: "(Thank you!)";
  }

  footer {
    display: flex;
    justify-content: center;
    text-decoration: solid, underline;
  }

@media screen and (max-width: 992px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

  }

@media screen and (max-width:768px) {
  main {
    align-items: flex-start;
  }
}
